[2016-06-30 19:39] hrwebasst opened #1 "Gitlab support request"
Awesome project! Definitely interested in using this for gitlab

[2016-06-30 21:45] 1egoman commented on #1
@hrwebasst Great! I don't have much experience with Gitlab, but if the underlying infrastructure supports webhooks then it should be relatively trivial to get working.

Is this something you'd like to tackle?

[2016-07-01 10:26] whitequark opened #2 "How do I unsubscribe from this?"
I never requested getting unsolicited noise like this: https://github.com/whitequark/conda-build/pull/1

[2016-07-01 13:53] 1egoman commented on #2
@whitequark I just added an optout feature: Within any of the pull requests backstroke generates. add a label called `optout`, then close it. Backstroke should not create any more pull requests within that repository. Let me know if this is sufficient.

If you'd like to disable backstroke completely (and added it yourself), just remove the webhook.

[2016-07-01 13:53] #2 closed

[2016-07-01 14:06] whitequark commented on #2
That's rather irritating, since GitHub labels need to be added explicitly, and then it'll show up in the label dropdowns and such. I'll simply block the bot.

[2016-07-01 14:11] 1egoman commented on #2
If you've got a better suggestion on how I should implement it, I'm willing to look at alternatives.

[2016-07-01 14:14] whitequark commented on #2
Opt-in. Opt-out implies that many people will receive unsolicited issues.

[2016-07-01 15:01] jasonkarns opened #3 "Tracking issue for manual upstream setting"

[2016-07-01 20:09] 1egoman commented on #3
@jasonkarns I'll take a look at implementing custom upstreams this weekend. I'm thinking something like specifying on a fork a webhook like `http://backstroke.us?upstream=user/upstream`. Does that fit your use case?

[2016-07-02 14:37] aloisdg opened #4 "Add License"
Hello,

Can you add a license to the project?

Thank you

[2016-07-02 16:11] #4 closed

[2016-07-04 22:41] jasonkarns commented on #3
I think it would!

[2016-07-07 00:16] 1egoman commented on #3
@jasonkarns Give custom upstreams a try with what's live right now (usage is how I described above). Keep in mind that they may still be a little (lotta?) buggy;

[2016-07-07 12:29] jasonkarns commented on #3
Got an error :(

Added the webhook to https://github.com/nodenv/node-build as http://backstroke.us?upstream=rbenv/ruby-build and got:

[2016-07-08 12:50] 1egoman commented on #3
@jasonkarns Hmm, it looks like Github won't let a PR be created between two unrelated repos. If you can think of a workaround, I'll see what I can do but otherwise I'm unsure if I can make this work as you were thinking.

[2016-07-08 13:04] brentp commented on #2
I agree. Please do opt in. I contribute to a lot of projects and now get unwanted backstroke PRs. and closing the PR doesn't seem to help.

[2016-07-08 22:18] 1egoman commented on #2
Let me explain why it's set up how it is.

Backstroke can be set up on either a fork or an upstream. If on a fork, it works just how you'd expect. When on an upstream, PRs are submitted to forks. I understand where you both are coming from--as someone who never accepted anything, the PRs are just spam. Backstroke as a tool is really for maintainers that want new users to not have to go through a t

[2016-07-16 10:09] 1egoman commented on #1
@hrwebasst Any update on this?

[2016-08-01 14:00] punkstar opened #6 "Webhook response: 413 Payload Too Large"
I have the web hook configured on a repository but there's an error 413 in my "Recent Deliveries".  The full output from the request and response, headers and body, can be found on this gist: https://gist.github.com/punkstar/405e8d684aa7bc733e5cdc3bbca3dad4

![screenshot](https://cloud.githubusercontent.com/assets/179072/17296329/922d31a4-57f8-11e6-8e82-dc3ae97af77c.png)

[2016-08-02 00:05] 1egoman commented on #6
@punkstar Hmm, that's interesting. I'm guessing that a 413 is being raised because the request body is so long. I'll try and verify on my end, but could you attempt the a similar push with a smaller body (ie, with a smaller commit?)

Thanks for providing all the detail, it really makes my life a lot easier. :smile:

[2016-08-20 21:10] orangewolf opened #7 "Private Repos"
I'm getting permissions issue when using this on a private fork of a private repo (hook is on the child, not the parent).  Is that expected to work?

This is the message
Status 200

Uhh, error: {"message":"Validation Failed","errors":[{"message":"The listed users and repositories cannot be searched either because the resources do not exist or you do not have permission to view them.","resource":"S

[2016-08-20 22:11] 1egoman commented on #7
@orangewolf This is happening because backstroke doesn't have permission to view the repository and its issues (Backstroke checks a child repository's issues to see if the repo has opted out, and if it has, then it won't send a PR to that repo). I didn't really design Backstroke to be used in a private repo, unfortunately. I'm planning on rewriting the project over the next few months, and private

[2016-08-20 22:12] #1 closed

[2016-08-21 01:47] orangewolf commented on #7
Thanks Ryan,
That totally makes sense. I may play with what it would take to support private repos.

On Aug 20, 2016, 15:11 -0700, Ryan Gaus <notifications@github.com>, wrote:

[2016-08-22 10:31] Muffo opened #8 "Avoid merge commit"
Out of interest, is there a way to remove the "merge" commit that is automatically created after accepting  a pull request?

[2016-08-22 12:47] 1egoman commented on #8
@Muffo Since Backstroke creates normal pull requests to merge upstream changes, by default there isn't a way by just straight merging. As an alternative, you could [squash and merge](https://github.com/blog/2141-squash-your-commits) - then, you'd only get one new commit instead of one for each new change. If you're thinking of something like a rebase, I don't think you can do that from the web.

[2016-08-22 15:17] Muffo commented on #8
Hi @1egoman

Thanks a lot for the answer! I understand now, this is more a limitation of Github instead of backstroke.
I wonder if these extra commits create any problem when you implement new features in your fork and create a pull request to get them merged in the upstream repo.

[2016-08-23 01:22] 1egoman commented on #8
@Muffo From the (minimal) testing that I've done, these extra commits haven't caused anything strange to happen that requires manual intervention (like a merge conflict).

If you're diverging from upstream far enough that there's merge conflicts to resolve, it's probably not a big deal for you to fix it locally.

[2016-08-23 10:50] Muffo commented on #8
Perfect! Many thanks for the support :+1:

[2016-08-23 10:50] #8 closed

[2016-09-10 14:25] 1egoman opened #9 "Make a home page"
Backstroke probably needs a real homepage.

Options:
- Stick with what exists now (ie, redirect to github on `GET backstroke.us`)
- Make a homepage part of the react/redux app
- Something static (hosted seperately)
- Something else?

[2016-09-10 14:28] 1egoman opened #10 "Set up ci"
Have to explore this further. I've used both TravisCi and CircleCi, and they seem to work well.

[2016-09-10 14:28] 1egoman opened #11 "Build Process"
Backstroke needs a new build process. Currently, it looks like:

- Run `gulp` locally
- Make a commit with the build contents from gulp.
- `git push heroku master`

Ideally, ci could do the deploy without  a local build step (see #10)

[2016-09-10 14:29] 1egoman opened #12 "Remove stale webhooks"
When a user changes which repo's a link points to, the webhooks on the old repos aren't deleted.

[2016-09-10 16:01] 1egoman opened #13 "If a user does not have push permission to a repo, on update, the update will fail."
This needs to be handled on the frontend and errors need to be displayed.

[2016-09-10 16:45] #13 closed

[2016-09-11 10:35] 1egoman opened #14 "Warn v1 users in the PR message to upgrade to v2."
Something like

[code]

at the end of the PR.

[2016-09-11 10:53] 1egoman commented on #11
Steps taken to get something that works:
- Added a `postinstall` hook that runs in production. (checks `NODE_ENV == production`)
- The `postinstall` hook runs `gulp build --production`
- On heroku push, it `npm install`s, and that `postinstall` hook is called.
- Also, I redid the `gulp` build proccess and removed the crap that isn't needed.

Relevant commits: dea4ed3f20257bff82aba3b425ad8805935a34

[2016-09-11 10:53] #11 closed

[2016-09-11 15:56] #14 closed

[2016-09-11 16:24] 1egoman opened #15 "Clear link state before moving to the next link"
Right now, this leaves a weird flash when moving from one link to another.

[2016-09-13 13:09] #15 closed

[2016-09-13 13:09] 1egoman commented on #9
Finished in 16cac97c0b49f9315b2797f5dd386ee4347a9d93.

[2016-09-13 13:09] #9 closed

[2016-09-14 12:03] 1egoman commented on #10
Travis has been configured!

[2016-09-14 12:03] #10 closed

[2016-09-15 11:36] 1egoman opened #16 "Validation of a repo's existence doesn't work in repos that are being updated."
Reproduce:
1. Create a link.
2. Go back to `/links`.
3. Open a link.
4. Type a repo that doesn't exist in `To`.
5. `Send` isn't disabled for repos that don't exist.

[2016-09-15 23:03] 1egoman opened #17 "Pass a user to the proper private or public login link"
If a user has private repos registered, they need to login via `/setup/login/private` for them to work.

[2016-09-19 10:49] 1egoman opened #19 "favicon"

[2016-09-19 10:50] 1egoman commented on #17
As a workaround, everyone signs in with both "priviliges". May not be the best, though.

[2016-09-19 10:55] 1egoman opened #20 "Private links created without payment method enables itself."
1. Have no payment method.
2. Add a private repo to the link.
3. Add a name.
4. Click `save` - error is thrown, but the link is turned on? Going back to the `all links` page refreshes it back to an unsaved link.

[2016-09-19 10:57] 1egoman opened #21 "Add proper prefix to webhook url box."
Right now, it's `//` - it should be `http://` and soon `https://`

[2016-09-19 11:35] 1egoman opened #22 "When creating a link for the first time, navigating away then back clears the page."
1. Create a new link.
2. Add some stuff to the page.
3. Go somewhere else.
4. Come back, the content flashes back to before editing.

Solution: only update the link edit view when navigating to a new link edit page.

[2016-09-19 11:50] 1egoman opened #23 "Remove code smell of ifs inside of promise .catch"
Like:

    }).catch(error => {
      if (error.message.indexOf('You cannot use a Stripe token more than once') === 0) {
        res.status(400).send({error: `You can't reuse payment source tokens!`});
      } else {
        return Promise.resolve(error);
      }
    });

[2016-09-19 23:35] #23 closed

[2016-09-20 23:07] #21 closed

[2016-09-20 23:18] #22 closed

[2016-09-20 23:24] #20 closed

[2016-09-20 23:28] #16 closed

[2016-09-20 23:37] #19 closed

[2016-09-22 12:08] #12 closed

[2016-09-26 22:27] 1egoman opened #25 "Change scss file names from `_repo` -> `_link`"
The sass filenames are waaaayyyy out of date.

In every sass file with `repo` in the name, change to `link`. Also update the includes to match.

[2016-09-26 22:52] 1egoman opened #26 "Hmm, you cannot login screen is too short."
<img width="1129" alt="screen shot 2016-09-26 at 6 51 43 pm" src="https://cloud.githubusercontent.com/assets/1704236/18854556/51674f94-841a-11e6-8740-52a043eec54c.png">

Just needs a `height: 100%` on the container.

[2016-09-26 22:57] 1egoman opened #27 "If `backstroke-bot` isn't a collaborator on a private repository, there isn't permission to open a PR."
Solution: give `backstroke-bot` read permission to upstreams that it is pushing to.

[2016-09-26 23:01] 1egoman opened #28 "Build script needs to be able to be used on production and staging."
Right now, the build script can only be used in production. In order to be used in staging, we have to manually switch `BACKSTROKE_SERVER` value in `build:production`to be the correct value.

[2016-09-26 23:45] 1egoman opened #29 "Redirect to https://"
We need to redirect http -> https when a user does a GET to `backstroke.us`. Webhooks get screwed up if this is done at the couldflare-level, so this needs to be done within express.

[2016-09-26 23:46] 1egoman commented on #28
After removing environment variables that were explicitly set this seems to have "just worked". Yay!

[2016-09-26 23:46] #28 closed

[2016-09-26 23:49] 1egoman opened #30 "Consolidate assets into one folder"
There's assets in `/assets` and in `/public/assets/img/` - put everything into the `/public/assets/img/` folder.

Also, update the readme to point to the right assets.

[2016-09-28 06:42] simenbrekken commented on #3
@1egoman Any idea what identifies a "related repo"?

[2016-09-28 10:26] 1egoman commented on #3
@simenbrekken From my understanding, two repos are related if they both share a common upstream at some point or are a common upstream. For example, if I have repo a and repo b, and repo c is a fork of repo a, then repo a and c are related, and repo b isn't. In addition, if I made a fork of repo c to repo d, repo a, c, and d are all related, while repo b still isn't.

Sorry if that was confusing,

[2016-09-28 12:30] 1egoman opened #35 "Re-work deleting of hooks"
Since now a webhook is placed on both repos, we need to rethink how to delete webhooks.

[2016-09-28 12:43] 1egoman opened #37 "When a link error message contains the word `oauth`, link the user to the oauth settings."

[2016-09-29 07:03] sparkoo commented on #6
Same issue here. Any progress on this? Thanks!

[2016-09-29 10:12] 1egoman commented on #6
@sparkoo @punkstar Yea, I think I figured this out. The problem is that Github makes webhook responses so large that express's body parser can occasionally choke and throw this. It isn't really anything I can fix (the error is thrown by `body-parser`, not me).

In fact, this issue is part of the reason I've been developing v2 of Backstroke. It you'd like to check it out, it's at https://backstroke

[2016-10-14 14:17] c0n5pir4cy commented on #26
I'll have a look and see if I can fix this one.

[2016-10-14 20:46] 1egoman commented on #30
Looks like this was tackled in #43

[2016-10-14 21:51] #30 closed

[2016-10-18 22:41] raphaabrasil commented on #25
@1egoman Ill get this, ok? You only wanto to change the `_repo` ones or the `_repository` too?

[2016-10-19 10:42] 1egoman commented on #25
@raphaabrasil I'm pretty sure you don't have to, but if a file contains code to style a link and it has `repo` (or `repository`) in the name it should be replaced with `link`. Use you best judgment.

Thanks!

[2016-10-19 11:58] mitesh-mutha commented on #26
@1egoman Came across this issue via Hacktoberfest. Shall I pick it up if in case @c0n5pir4cy  isn't ?

[2016-10-19 12:05] 1egoman commented on #26
@mitesh-mutha Yea, go for it. Instructions to set up/run Backstroke locally: https://github.com/1egoman/backstroke/blob/master/CONTRIBUTING.md#setting-up-backstroke-for-development

[2016-10-19 12:45] raphaabrasil commented on #25
@1egoman fine, ill do this :D

Thankss

[2016-10-19 14:30] mitesh-mutha commented on #26
@1egoman Thanks !
Will ask if I have any trouble.
First step would be to setup to run Backstroke locally.

[2016-11-29 10:18] jeremypoulter opened #45 "Creating links to upstream repos with no permission"
I am trying to use Backstroke to auto sync a fork of a repository I do not have permission to create a web hook on, ie repo a (no permission) -> repo b (my fork).

I think I can use IFTTT to monitor the upstream commit RSS feed and trigger the Backstroke link but I am unable to create the link as I get an error creating the webhook on the upstream repo.

Is there a way to ignore this? Is there a b

[2016-11-29 12:53] 1egoman commented on #45
@jeremypoulter There's not a good way to solve this unfortunately with the Backstroke that's out in the wild right now. A workaround using some older code:
- Add [Backstroke classic](https://github.com/1egoman/backstroke#use-backstroke-classic) to your fork.
- Make a commit and take a look at the webhook logs for backstroke classic.
- From another source (IFTTT, etc), duplicate the request that th

[2016-11-30 10:59] jeremypoulter commented on #45
Thanks, however I am not sure Backstroke classic will work for my case either. I need to create the PR on a specific branch, can that be done with Backstroke classic?

[2016-12-01 11:47] 1egoman commented on #45
@jeremypoulter Your right, Backstroke classic can't do that. I'm not sure if this is possible in the current incarnation of backstroke. If you'd like to try and hack it together, the relevant code is [here](https://github.com/1egoman/backstroke/blob/909fc06814c0fe2ff8fa9618abf7126c4fcb401e/src/helpers/addWebhooksForLink.js#L11-L44) (Whether you want to fork and make the change in a hacky fashion f

[2017-01-10 10:37] radrad opened #46 "Following readme instructions, but I am still not getting pull requests for classic hook"
I have a fork of user1/repo1/ (for I am not the ownor or contributor) in my user/repo1 repository.
Within my user/repo1 repositor I created a classic backstroke hook in the Settings... Webhooks Payload URL =  http://backstroke.us/ .

When  a new commit comes I am not receiving any new pull requests because there is an error during a Recent Delivery in web hook log:
{
	"message" : "Validation Faile

[2017-01-10 12:56] 1egoman commented on #46
@radrad You're doing everything right. This is definitely a bug.

I'm looking into this. I am able to reproduce the error, and it looks like something that changed within Github's API. That error message you're seeing is coming directly from Github, but I can't find documentation on it anywhere.

By any chance, is either the upstream of the fork a private repository? Currently, private repositorie

[2017-01-11 04:57] radrad commented on #46
Source repo is public: https://github.com/radrad1/DevOpsWorkRadGit.
Destination (forked) i also public: https://github.com/radrad1/DevOpsWorkRadGit

This is just a test. I am the owner of both Github accounts (different emails) so I can push some commits to my source repo and see it as a pull request.
My goal is totally sync the two without my intervention. My goal is to use Visual Studio team ser

[2017-01-13 12:23] 1egoman commented on #46
@radrad Thanks for your help. This to me seems like a github-level issue, and I've submitted a support ticket for assistance. It's reproduced below for posterity.

Hello,

I'm working on fixing an issue in one of [my projects](https://github.com/1egoman/backstroke) and I'm running across an error I cannot find any documentation for online. The below curl (to my understanding) should create a pull

[2017-01-14 03:12] 1egoman commented on #46
@radrad
After some digging (and a support response), I found out that this is partially Github's fault and partially the fault of `node-github` (the github api client this project uses).

My support response:

[code]

Issue in `node-github` that addresses this problem: https://github.com/mikedeboer/node-github/issues/490
PR that fixes the problem in `node-github`: https://github.com/mikedeboer/nod

[2017-01-14 05:28] radrad commented on #46
Ok. The meaning of of this parameter is not clear to me. Why would it be false?
I was trying to set Payload URL to http://webhook.site/ randomly generated URL address to see what is being posted for "push" event or even "everything" Somehow I can only get a ping request and nothing else. I am only getting some posts if I manually do pull request and Merge pull request afterwords.

I am trying to d

[2017-01-14 13:02] 1egoman commented on #46
Merged in #47 to hopefully fix this.

[2017-01-14 15:46] 1egoman commented on #46
@radrad That was a touch one, but I think I finally fixed this.

Let me answer a few of your questions above.

[code]

I'm a little fuzzy on it myself, but I think `rebase and merge` would do what you're asking - Give it a try.

[code]

Just logs, which on their own aren't really helpful without context. If you want to understand what's going on behind the scenes, here's a [great place to start](h

[2017-01-15 03:32] radrad commented on #46
Great,. I will check it. This "Merge a pull request (Merge Button)" with its PUT /repos/:owner/:repo/pulls/:number/merge method is the right method to call after the PR has been created.
Is there a way you can provide an endpoint or extra query parameter where one can add merge_method = merge, squash or rebase and call this method. This will solve my problem. You just need to provide Accep headert

[2017-01-16 08:29] radrad commented on #46
I actually tried creating a webhook receiver implemented by Microsoft.AspNet.WebHooks.Receivers.GitHub
which check for valid secret key and if the github post message for events is signed by they key.
As I said above on the forked repo I only get a Ping event sent to my webhook receiver. Only if I am the owner of the source repo (I tried that as well) I will receive all events I subscribe too.
So

[2017-01-16 09:17] radrad1 commented on #46
I tested your new code and a successful pull request created
I could see 2 pull requests being created
Update from upstream repo radrad1/DevOpsWorkRadGit
#4 by backstroke-bot was merged 8 minutes ago
 Update from upstream repo radrad1/DevOpsWorkRadGit
#3 by backstroke-bot was merged 10 minutes ago

but I could see 3 Post messages being delivered.
1st. Ping >>> Success!
2n'd Push >>>> Success!  (Pr

[2017-01-16 12:04] 1egoman commented on #46
I think I fixed your issue (you seem to have gotten two PRs), so I'm going to close this issue. If you see any more problems with Backstroke feel free to open another issue.

[2017-01-16 12:04] #46 closed

[2017-01-16 23:57] radrad commented on #46
It is not fixed fully. I am not receiving any other pull requests after initial 2. It seems when the second one is created there is an error and after that it won't create any. Please keep this opened. Did you read my questions above? Thanks

[2017-01-17 12:10] 1egoman commented on #46
I think what you saw is expected. Basically, both branches have the same HEAD commit, which means that there are no differences between the branches. Github won't let you create a pull request between two branches that point to the same commit.

[2017-01-17 14:27] eins78 opened #49 "default setup not working (Error 500 on webhook)"
I wanted to try out backstroke with a test repo, unfortunatly it is not working at all. I deleted and re-setup the Link several time with the same result.

According to github, and also when manually testing the hook via `curl` the webhook only responds with status 500 and `{"error":"Server error."}`

When I first set it up, I am sure that I saw a few "successfull" webhook pushes from github: the

[2017-01-17 22:26] 1egoman commented on #49
@eins78 I'd love to investigate this further. Could you give me the webhook logs so I can try to reproduce this? If you click on the webhook id, there are request headers and payload. Could you send me them? An example is posted below.

<img width="769" alt="screen shot 2017-01-17 at 5 24 28 pm" src="https://cloud.githubusercontent.com/assets/1704236/22042606/fb37293c-dcd9-11e6-9c66-7f50814ce47d.p

[2017-01-18 11:23] eins78 commented on #49
@1egoman pasted here: https://gist.github.com/eins78/08e513d468b59ed3c5983cd91a09a181

[2017-01-18 11:54] 1egoman commented on #49
@eins78 For now, would you mind switching to Backstroke classic? The simple way to do this is to update your webhook from `https://backstroke.us/_587e27bae78722001cf4e121` to `https://backstroke.us`.

I just manually ran it against the payload you gave me above using Backstroke Classic locally and it seemed to work. Here's one of the pull requests: https://github.com/eins78/street.ars.is/pull/2

[2017-01-18 11:54] #45 closed

[2017-01-18 14:09] eins78 commented on #49
@1egoman Ok, I made the webhook change, we'll see if it keeps working. Thanks for looking into it.
Note that this repo is not important and more or less just for playing around with backstroke, so if you want to debug further just tell me :)

[2017-02-12 23:20] thtliife commented on #49
@eins78 I was getting that error if I had the web hook set to use x-url-encoding instead of application/json

[2017-02-12 23:23] thtliife opened #52 "Cannot get this to work on create-react-app"
Has anyone successfully gotten this to work with a fork of https://github.com/facebookincubator/create-react-app ?

I cannot get it to work in either the standard or classic setup.

In standard mode, I get the following error when trying to save a link:
`No permission to add a webhook to the repository facebookincubator/create-react-app. Make sure thtliife has given Backstroke permission to access

[2017-02-13 00:17] 1egoman commented on #52
I recently discovered a bug in Backstroke, and this issue looks to be caused by it. Basically, if a source repository is not able to be written to by the user creating the Backstroke link, creating the link fails with that error that you've specified.

I've had the fix in a [pull request](https://github.com/1egoman/backstroke/pull/51) while validating it, but I'm pretty sure it works at this point

[2017-02-13 00:27] thtliife commented on #52
Hi @1egoman it looks to be ok now :)
I can successfully create a link on https://backstroke.us
and testing with curl returns
[code]

Thanks for the __fast__ bug fix :)

[2017-02-13 00:48] 1egoman commented on #52
I think this has been fixed, so I'm going to close this issue. If I missed something, let me know and I'll reopen.

[2017-02-13 00:48] #52 closed

[2017-02-13 02:27] thtliife commented on #52
seems fixed to me :)
Ill come back and let you know if something doesn't work on their next push, but quietly confident that won't be necessary :)

[2017-02-13 15:49] gaearon commented on #52
Thank you so much for the fix.

[2017-03-07 11:16] torsknod opened #55 "Setup when clone is not a GitHub Fork"
I have a "fork" of my own public repository as public repository (same GitHub account). As GitHub did not allow this, I just cloned it again, changed the remote master url to the "fork" repository and then added a upstream remote url.
Now backstroke does not accept this "fork", because it does not detect it as a fork.
There should be a checkbox to just merge whatever I want.

[2017-03-07 11:29] 1egoman commented on #55
@torsknod Unfortunately, this is a Github limitation. If you take a look at https://developer.github.com/v3/pulls/#create-a-pull-request, Github only allows you to specify a pull request to a repository in the same network. There may be ways to get around a limitation like this, but for simplicities sake I'd prefer to not support that.

A potential solution could be to put one fork on your persona

[2017-03-07 11:30] #55 closed

[2017-03-10 07:35] johanneskoester opened #56 "Cannot select master branch"
When trying to create a new link, I can't find the master branch in the list of branches. Further, the save button stays disabled. Am I missing something?

[2017-03-10 11:05] 1egoman commented on #56
@johanneskoester Can you provide more information:

- What repositories are you trying to link?
- Can you provide a screenshot?
- If the save button is disabled, that means you either didn't give the link a name (`Biome` in the below example), or you didn't configure `From` or `To` correctly (if you didn't select a branch on one of the links, then you wouldn't be able to save).

<img width="1173"

[2017-03-10 11:37] johanneskoester commented on #56
![backstroke-problem](https://cloud.githubusercontent.com/assets/1858646/23793995/4058a40a-058e-11e7-94e9-05cd459f98bb.png)

[2017-03-10 11:38] johanneskoester commented on #56
I try to sync to all forks, but the problem is really that I cannot select the master branch. We have branch protection activated (disallowing pushes to master). Could that be the problem?

[2017-03-10 11:49] 1egoman commented on #56
@johanneskoester Possibly. Let me give it a try on my end.

[2017-03-10 12:00] 1egoman commented on #56
@johanneskoester

I've tried a few different api calls:
- `curl https://api.github.com/repos/bioconda/bioconda-recipes/branches | grep master` - what backstroke does currently behind the scenes.
- `curl -H 'Content-Type: application/vnd.github.loki-preview+json' https://api.github.com/repos/bioconda/bioconda-recipes/branches?protected=true | grep master` - with the protected branch api which is in

[2017-03-10 12:11] johanneskoester commented on #56
I just tried. Same results. Also, deactivating branch protection does not help.

[2017-03-10 12:25] johanneskoester commented on #56
Maybe this is about paging? We have a lot of branches...

[2017-03-10 12:26] johanneskoester commented on #56
Yes, that's it. If I add `?per_page=10000` I get the master branch. Maybe you don't properly walk through the pages in your implementation?

[2017-03-10 12:27] 1egoman commented on #56
@johanneskoester That could be true. Let me take a look.

[2017-03-10 12:32] 1egoman commented on #56
Yep, that's it. https://github.com/1egoman/backstroke/pull/57

[2017-03-10 12:34] johanneskoester commented on #56
Thanks!

[2017-03-10 12:42] 1egoman commented on #56
@johanneskoester The hotfix has been pushed, hopefully this solves your issue.

[2017-03-10 13:22] johanneskoester commented on #56
Thanks!

[2017-03-10 13:22] #56 closed

[2017-03-30 13:12] karlhorky commented on #17
Is there a manual way to sign in with just public privileges?

[2017-03-30 21:33] 1egoman commented on #17
@karlhorky There is, though it's undocumented. You should be able to head to https://backstroke.us/setup/login/public (instead of the normal https://backstroke.us/setup/login) to just grant backstroke the `public_repo` permission on github. Code is https://github.com/1egoman/backstroke/blob/master/src/server.js#L58

*WARNING*: I'm not supporting this endpoint officially. It may continue to work fo

[2017-03-31 09:58] karlhorky commented on #17
Cool, that sounds good, thanks for the info!

Once this issue is completed (both private and public flow available), would you be open to supporting this endpoint again?

[2017-03-31 10:38] 1egoman commented on #17
@karlhorky Possibly. I added the endpoint out of experimentation. If there's demand for something like this I can explore it, but it adds some complexity since I'd need to handle cases where a user didn't give Backstroke permission to access a repository, how to upgrade permissions, storing a user's permission level, etc.

[2017-03-31 10:43] 1egoman commented on #49
Closing out of inactivity.

[2017-03-31 10:43] #49 closed

[2017-07-25 15:07] dsslimshaddy opened #58 "automatically periodically hook"
currently i use https://ifttt.com/ to hook every hour. if backstroke could do it automatically it would be great

[2017-07-25 22:06] 1egoman commented on #58
@dsslimshaddy I don't see this as something that I'd implement in the near term. If either you or anyone else wants to try this out, [start with this branch](https://github.com/1egoman/backstroke/tree/fix-it-all) and I'd be glad to look at pull requests.

[2017-07-29 05:59] evandrocoan opened #59 "How to configure webhooks on my forks?"
On the StackOverflow question:

1. https://stackoverflow.com/questions/28639713/how-to-automatically-align-sync-a-forked-github-origin-master-branch-to-upstream

[![enter image description here][2]][2]

  [1]: http://i.stack.imgur.com/GyX4R.png
  [2]: http://i.stack.imgur.com/VaWqb.png
  [3]: http://i.stack.imgur.com/0L7nY.png
  [4]: http://i.stack.imgur.com/OzJdH.png

They show these steps, but I

[2017-07-29 18:49] evandrocoan opened #60 "Stop creating empty pull requests"
On the repository:

1. https://github.com/evandrocoan/sublime_indent_and_braces/pull/4

It is always creating a empty pull request every time I ran the update link:

    curl -X POST https://backstroke.us/_dfasdf1asd1f3dsf32df.....

I had been pushed a commit it that repository in past, and now it is coming back with my pull request merge into that repository:

![image](https://user-images.githubu

[2017-07-29 19:56] evandrocoan opened #61 "How to automatically monitor all upstreams forks?"
The upstream of my fork can have several forks, as mime. I setup this to monitor the upstream, but I would like to know if any of the other forks also receives updates.

This is very useful for Sublime Text packages because most packages developer went MIA (missing in action), so the pull requests on the upstream are always stalled. But their repositories forks are active and receive updates. For

[2017-07-30 19:02] 1egoman commented on #61
@evandrocoan Only immediate forks (ie, forks one level below the upstream) are updated, because [Github's list all forks api call](https://developer.github.com/v3/repos/forks/) works this way.

[2017-07-30 19:02] #61 closed

[2017-07-30 19:05] evandrocoan commented on #61
I am not saying to follow many levels, but all forks on the first level.

[2017-07-30 19:18] 1egoman commented on #60
@evandrocoan Taking a look at [this merged pr](https://github.com/evandrocoan/sublime_indent_and_braces/pull/2), the pull request proposes the correct changes to your repository (the only change in the upstream `Epskampie:master` that isn't in `evandrocoan:master` is the merge commit `81a8ab3`, which is the only commit in the pull request, as expected.) When you click merge, Github creates an empt

[2017-07-30 19:18] #60 closed

[2017-07-30 19:25] 1egoman commented on #59
@evandrocoan There are two versions of Backstroke:

1. [Backstroke Classic](https://github.com/1egoman/backstroke#use-backstroke-classic), the original version. It was made originally by me about a year ago and is deprecated, however others have posted about it online. In order to set this up, the user adds `https://backstroke.us` as a webhook in their repository manually.

2. [Backstroke](https:/

[2017-07-30 19:25] #59 closed

[2017-07-31 22:38] evandrocoan opened #62 "For what are the use of the POST urls curl -X POST https://backstroke.us/_dfasdf1asd1f3dsf32df...?"
Accordingly to:

1. https://github.com/1egoman/backstroke/issues/59 How to configure webhooks on my forks?

I created a python script to loop through all my forks call the url
`curl -X POST https://backstroke.us/_dfasdf1asd1f3dsf32df...`.

Thought, they are on my git modules, as follows. Can they be public or do I need to remove them?
[code]
1. https://github.com/evandrocoan/SublimeTextStudio/blob

[2017-07-31 22:45] 1egoman commented on #62
@evandrocoan That url is the url that is called behind the scenes by Backstroke (ie, the github webhook). As explained on the dashboard, running `curl -X POST https://backstroke.us/_XXX...` kicks off Backstroke at any arbitrary time if you'd like to run the check external to Backstroke for some reason.

[2017-07-31 22:45] #62 closed

[2017-07-31 23:09] evandrocoan commented on #62
But if I understand correctly, backstroke is kicking off automatically. Why would I need the URL?

If some one take my URL on the git repository they can start kicking it like ddos, is there a problem? Should the URL be a secret or they can be public?

[2017-08-01 01:13] 1egoman commented on #62
@evandrocoan In 99% of cases, the url is not required. I've run into cases (and others have as well) where they've wanted to integrate backstroke into a different system and wanted to kick off Backstroke on their own. That's the only reason why the url is user facing (it's hidden in the dashboard to try and emphasize this too).

As fas as any denial of service concerns: the url can be public. Sinc

[2017-08-01 16:23] evandrocoan commented on #62
I got this response from GitHub while running my pull algorithm:

`API rate limit exceeded for evandrocoan.`

How does it does my name? Is it from the consecutive calls to the backstroke URL `https://backstroke.us/_dfasdf1asd1f3dsf32df...`?

If so, could someone be using my URL to kick off GitHub, then when I actually need to kick some repository, I cannot because they exhausted/kick off all my da

[2017-08-01 21:55] 1egoman commented on #62
@evandrocoan Backstroke uses your Github access token to make requests, and Github rate limits users with tokens to 6000 requests per hour. At worst, someone would prevent Backstroke from working on your repositories for an hour, and then once the rate limit expired, Backstroke would work again. This is a Github limitation and something that cannot be easily circumvented.

[2017-08-01 22:52] evandrocoan commented on #62
On the example above, I did not hit the 6000 request limit, I only had make about 50 sequential requests to the URL. GitHub seems to block repeated requests, on the 6000 hit limit.

So, by the fact that someone has my URLs they can be popping the GitHub API under my name, therefore run dry all my 6000 requests?

[2017-08-01 23:52] 1egoman commented on #62
Backstroke makes many calls to Github for a given request. If someone were to hit a link's webhook url repeatedly over an over, they would "run dry" all of your requests. At worst, this means that your repository would be out of date for an hour until the Github rate limit reset.

[2017-08-02 00:04] evandrocoan commented on #62
Thanks for the patience. Seeing now how it works, I would like to ask if it is possible to block repeated requests to the same URL, as the GitHub does their rate limit.

So as my URLs are public, anyone can create a simple script which start pinging repeatedly the same URL, over and over again for ever. This would cause GitHub to exhaust all my 6000 requests just for on repository URL, and can kee

[2017-08-02 00:33] 1egoman commented on #62
Currently, this doesn't exist. If you'd like to try to implement it, [here's the most up-to-date branch](https://github.com/1egoman/backstroke/tree/fix-it-all). I can review any submitted pull requests.

[2017-08-02 01:36] evandrocoan commented on #62
Thanks, for now I cannot engage on it. So the simplest solution seems to be removing all the URL from public.

But now I we can discuss the algorithm to accomplish so, I can think about one, do you approve it for implementation?

1. Implement a hash table with the repositories as the key, so when performing check to the URL `https://backstroke.us/_dfasdf1asd1f3dsf32df`, this table `dfasdf1asd1f3ds

[2017-08-02 14:52] 0xCMP commented on #17
+1 for a clear way to both.

Please provide a public/private way to setup Backstroke. We have the permissions features of Github to prevent access to the repos so I'd rather not risk our internal code to sync our public forks.

As you said it makes things complicated, especially for making it a "just works" and auto upgrade experience, but I believe it's an important feature.

[2017-08-04 15:56] evandrocoan commented on #60
There is no way to solve the merge:

[2017-08-05 19:02] evandrocoan opened #63 "It keeps saying `Server error` all the time on backstroke.us"
Recently for all git repositories I am registering, it is saying git error:

![image](https://user-images.githubusercontent.com/5332158/28997949-239d8e7e-79f7-11e7-8426-19195dcee849.png)

![back](https://user-images.githubusercontent.com/5332158/28997959-4f43d7f4-79f7-11e7-8c17-877e868d86b0.gif)

But if I go to the main page clicking on the `Links` button, the hook is on:

![image](https://user-im

[2017-08-06 11:50] 1egoman commented on #63
That's weird. Looks like the logs mention that some sort of rate limit from github's end (for your user token) was reached. Where you doing something that called backstroke repeatedly?

[2017-08-06 12:56] evandrocoan commented on #63
No, I was not using the github api, or calling backstroke URLs at the moment, or any time near it. Perhaps, you could put this full message on the website instead of just `Server error`.

[2017-08-07 12:09] 1egoman commented on #63
Hmm, let me investigate. I've made that change (more descriptive error messages) in the latest code, will be live next time I deploy.

[2017-08-30 15:35] evandrocoan opened #65 "I changed the remote branch, from master to st3, but it keeps asking to merge from master"
I changed the remote branch, from master to st3, but it keeps asking to merge from master.

The upstream was: BoundInCode/AutoFileName on branch master
The downstream is: evandrocoan/AutoFileName master

Now:

The upstream was: BoundInCode/AutoFileName on branch st3
The downstream is: evandrocoan/AutoFileName master

But when I call the hook URL, it keeps creating merge commits from the master bra

[2017-08-31 12:32] 1egoman commented on #65
Hah, I think I never actually made the fork branch configurable: https://github.com/1egoman/backstroke/blob/master/src/webhook/index.js#L96

[2017-08-31 12:33] 1egoman commented on #65
I'm in the process of pushing up quite a few changes, I'll make sure this is one of them.

[2017-09-01 11:52] 1egoman opened #66 "RFC: Backstroke Migration"
I'm working on a rewrite of Backstroke. This has been a long time coming (over 6 months!) but I feel that it makes the system much more stable and predictable. In its current state, deploying updates to the live system is a challenge (and as a consequence, I haven't done it for months.) This isn't something I'm all that good at, so I'd love for anyone more experienced than me to let me know what I

[2017-09-01 20:07] m1guelpf commented on #66
I have a paid instance of deployhq.com, so if you want I can "donate" the deploy tool and then you can stop worrying about that :smile:

[2017-09-01 21:23] 1egoman commented on #66
@m1guelpf Are you talking about for the current deployment, or with the new architecture I'm proposing? I'll do some research this weekend and see it would work be helpful for the current state of affairs (I'm unfamiliar with the service) but I think for the new architecture I'd like to try out some sort of immutable deployment such as Docker (and at a cursory glance, DeployHQ doesn't seem immutab

[2017-09-01 21:28] m1guelpf commented on #66
@1egoman I was talking about the old one. I don't think it supports Docker or any other type of immutable deployment... :sad:

[2017-09-01 21:29] 1egoman commented on #66
Cool. I'll do some research this weekend. 😄

[2017-09-02 21:20] 1egoman commented on #66
@m1guelpf It doesn't look like DeployHQ works with Heroku, so thank for the offer, but I don't think it'll be helpful for maintaining the current Backstroke version 🙁

[2017-09-04 07:34] eins78 commented on #66
@1egoman It sounds like https://zeit.co/now does what you want?
Maybe @rauchg wants to "pitch" in? ;)

[2017-09-04 10:16] 1egoman commented on #66
@eins78 Interesting, I'll do some researc hand see if now could fit Backstroke's needs.

[2017-09-04 11:14] 1egoman commented on #66
I love the idea of `now`, but I'm having trouble deploying [this](https://github.com/backstrokeapp/server) repository.

https://zeit.co/rgausnet/server/xvoeisygwy shows that the container takes a very long time to start, though the logs seem to show that the container actually started previously. Once the container did start, I get repeatedly get 502s: https://server-xvoeisygwy.now.sh/

@rauchg An

[2017-09-05 22:38] stevenambs commented on #63
I was getting this as well trying to link to a forked repo in one of my organizations. I transferred the fork out of the organization to my personal account and it works now.

[2017-09-07 11:25] 1egoman commented on #66
Update: I've secured the domain `backstroke.co`. My hope is use this domain name instead of backstroke.us for the new deployments as it makes maintaining backward compatibility easier. Any GET requests to `backstroke.us` would 301 redirect to `backstroke.co`, and any POST requests would be handled in the old fashion. Here's an updated diagram of the architecture:

![layout](https://user-images.git

[2017-09-07 20:21] mithereal commented on #63
i was having the issue as well what fixed it for me was to go to the organizations settings 3rd party access and i removed the application restrictions

[2017-09-07 22:43] 1egoman commented on #63
Huh. What application restrictions are you referring to? Maybe that would help reveal the source of the problem? I can't seem to find the options you are referring to.

[2017-09-08 05:14] mithereal commented on #63
In GitHub there options under your organization settings

On Sep 7, 2017 3:43 PM, "Ryan Gaus" <notifications@github.com> wrote:

Huh. What application restrictions are you referring to? Maybe that would
help reveal the source of the problem? I can't seem to find the options you
are referring to.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https

[2017-09-13 18:28] brysgo opened #67 "New website just logs me in as you"
It would appear that the current user is hardcoded to 1egoman.

[2017-09-13 18:32] brysgo commented on #67
My best guess is that the deployment is using your whoamiMock.

[2017-09-13 21:33] 1egoman commented on #67
😲

I'll take a look and see if I can debug the issue. Thanks for bringing it to my attention.

[2017-09-13 21:50] 1egoman commented on #67
Turns out it was just a hardcoded value from my mockups that I forgot to change. https://github.com/backstrokeapp/dashboard/blob/master/src/components/link-list/index.js#L93

No security issues here!

Fixed in https://github.com/backstrokeapp/dashboard/commit/a9811dd921fa8526c8f332efc3aab9adc1091d16. Thanks again @brysgo!

[2017-09-13 21:50] #67 closed

[2017-09-16 01:15] 1egoman commented on #66
I've spent the last week or so writing a deployment script for Backstroke. My current plan is to host all services on a DigitalOcean droplet, with each service running within docker. In the near term, I plan to use docker-compose to spin up all services on server start since I'm not too concerned with scaling right off the bat. (If I want to scale the service further, I might try [nomad](https://n

[2017-09-17 23:53] brysgo commented on #67
for some reason `app.backstroke.co` still logs me in as you

[2017-09-18 00:07] 1egoman commented on #67
@brysgo Can you give me a screenshot? Where does it indicate that you are logged in as me?

[2017-09-18 00:28] brysgo commented on #67
<img width="1088" alt="screen shot 2017-09-17 at 8 27 55 pm" src="https://user-images.githubusercontent.com/57716/30526310-cd9a6ad0-9be6-11e7-8bec-5cc3ef3f874d.png">

[2017-09-18 00:37] 1egoman commented on #67
That isn't good. Did you get an oauth prompt to login with github? What are the steps that you took to get into that state?

I just tried to login with another Github account that I have and I couldn't replicate this behavior. What I did:
1. Visited `https://backstroke.co`.
2. Clicked on `login`
3. Accepted the oauth prompt for the other github account.
4. Was redirected back to `app.backstroke.co

[2017-09-18 00:41] 1egoman commented on #67
Just tried again and was able to replicate. I'll do some digging and see what's up. Thanks for letting me know about this, this is a serious issue.

[2017-09-18 00:52] 1egoman commented on #67
@brysgo I think I figured it out. Just pushed up a fix, can you confirm that you don't see this behavior anymore?

[2017-09-18 13:04] brysgo commented on #67
@1egoman - got further, before having the same problem

[2017-09-18 17:30] brysgo commented on #67
@1egoman - It seems to be working now :-)

[2017-09-19 10:22] 1egoman commented on #67
Cool, glad I was able to solve this!

[2017-09-20 10:24] 1egoman commented on #66
I finished up the deployment repository. https://github.com/backstrokeapp/deployment

[2017-09-28 18:31] evandrocoan opened #68 "My repositories keep getting Untitled link after some days I go back to check on them"
This happens with one or repositories always, and when I fix, it happens with some other:

![image](https://user-images.githubusercontent.com/5332158/30983816-e61968c6-a461-11e7-9ae9-67b9aeb881a7.png)

[2017-09-28 21:33] 1egoman commented on #68
This is because when you click on 'create', it makes an empty repository, which is what you see. Immediately after, you are brought into the update screen. Once you update the link and save it, then the link is updated and it no longer has the name `Untitled Link`.

Mostly it was done this way because it was easier from the perspective of the backend, though I can see how it'd be confusing. Potent

[2017-09-28 22:54] evandrocoan commented on #68
One some time ago I deleted one of the `Untitled Link` I found on my list, I but for my surprise that link was from some repository I had configured previously. I knew that because I keep I list of every backstroke link I have off line, so right after deleting it I thought, `Hey this could be some repository mime` then I gone check my off line list, and that link I had deleted was there. But it wa

[2017-09-29 00:30] evandrocoan opened #69 "Error: This repo does not exits, for a fork of fork of fork fork of fork forked by me"
The repository https://github.com/Jayflux/sublime_toml_highlighting is a fork of fork of ... forked by me, and when I enter both these data I got:

![image](https://user-images.githubusercontent.com/5332158/30996068-5040a3fe-a494-11e7-990e-d5f77eab8e2b.png)

[2017-09-29 00:34] evandrocoan commented on #69
Now I am having this error for every repository I try to put there.

[2017-09-29 00:46] 1egoman commented on #68
The only method in which new links are created is by hitting [this endpoint](https://github.com/1egoman/backstroke/blob/master/src/controllers/links.js#L73-L85). Potentially you did it without realizing or at a previous date? I don't know what to tell you here.

More descriptive error messages are in the new version which I hope to release shortly, but aren't deployed to the current system. I've w

[2017-09-29 00:52] 1egoman commented on #69
Interesting - I never actually anticipated this case!

To get the branches for a given repository and to determine if the repository exists / doesn't exist, an api call is made. If you open up your browsers developer tools and look for that request, is the server returning an incorrect response? Though I suspect the server, as a first step, I'd like to see if the browser or the server is at fault.

[2017-09-29 01:05] evandrocoan commented on #69
Now it is working by itself. It seems it stopped working exactly on the moment I tried to put the fork of fork. Now I added and it is working. Also, I am not experienced with web development, is this the console you mentioned? I took I picture now I it working:

![image](https://user-images.githubusercontent.com/5332158/30996687-f50e2772-a498-11e7-9289-b2de244e68e2.png)

[2017-09-29 01:05] #69 closed

[2017-09-30 21:21] 1egoman commented on #66
A number of helpful things have happened since the last update:
1. I was able to secure a sponsorship from DigitalOcean! For the next year, at least, hosting shouldn't be an issue. There's now a nice sponsorship note on the new website. Also, this means that I've upgraded to a 2gb droplet, on which the systems perform much better.
2. A complete local development environment has been set up in the

[2017-09-30 21:31] 1egoman commented on #66
# Deployment checklist
- [ ] Push up all bacstrokeapp repos.
- [ ] Tag all with `v2.0.0`. Esure package.json in all also says 2.0.0
- [ ] Push up all backstrokeapp/server code to 1egoman/backstroke.
- [ ] Remove backstrokeapp/server.
- [ ] Transfer 1egoman/backstroke to backstrokeapp/server.

- [ ] Delete droplet. Redeploy just to make sure we're in a clean state.
- [ ] Migrate all data from mongo

[2017-10-07 19:26] 1egoman commented on #66
The deployment happened at 3pm EDT on October 7th, 2017. The service was down from 3pm to 3:10pm.

I'm glad that this new stuff is finally deployed. Over the next week or so I expect for a few issues to come in with scenarios that I didn't take into account when working on the new stuff, but all in all, I'm pretty satisfied with this release.

Dashboard: https://github.com/backstrokeapp/dashboard/

[2017-10-07 19:26] 1egoman commented on #65
Fixed by https://github.com/backstrokeapp/server/issues/66

[2017-10-07 19:26] #65 closed

[2017-10-07 19:26] 1egoman commented on #58
Fixed by https://github.com/backstrokeapp/server/issues/66

[2017-10-07 19:26] #58 closed

[2017-10-07 19:27] 1egoman commented on #63
Fixed by https://github.com/backstrokeapp/server/issues/66

[2017-10-07 19:27] #63 closed

[2017-10-07 19:28] 1egoman commented on #35
Fixed by https://github.com/backstrokeapp/server/issues/66. No more new webhooks are made on github repos!

[2017-10-07 19:28] #35 closed

[2017-10-07 19:29] 1egoman commented on #26
Fixed by https://github.com/backstrokeapp/server/issues/66

[2017-10-07 19:29] #26 closed

[2017-10-07 19:29] 1egoman commented on #25
Fixed by https://github.com/backstrokeapp/server/issues/66

[2017-10-07 19:29] #25 closed

[2017-10-07 19:29] 1egoman commented on #29
Fixed by https://github.com/backstrokeapp/server/issues/66

[2017-10-07 19:29] #29 closed

[2017-10-07 19:30] 1egoman commented on #6
Should be fixed by https://github.com/backstrokeapp/server/issues/66, I think.

[2017-10-07 19:30] #6 closed

[2017-10-07 19:36] 1egoman commented on #3
Since this is a Github limitation and there's nothing I can do about it, going to close this.

[2017-10-07 19:36] #3 closed

[2017-10-07 19:41] 1egoman commented on #7
This is going to be one of my next focuses, now that I've released #66 .

[2017-10-07 19:42] #37 closed

[2017-10-07 19:43] 1egoman commented on #27
Moving to https://github.com/backstrokeapp/server/issues/7

[2017-10-07 19:43] #27 closed

[2017-10-07 19:49] 1egoman commented on #17
Moving to https://github.com/backstrokeapp/server/issues/7. Now that I have #66 released, my hope is that I can find a way to do this nicely.

[2017-10-07 19:49] #17 closed

[2017-10-07 19:49] 1egoman commented on #68
Closing due to inactivity.

[2017-10-07 19:49] #68 closed

[2017-10-07 20:16] 1egoman opened #70 "Find a way to ensure that the queue doesn't reach critical mass"
I've run into a few issues where the queue of link operations has reached a level where it is hard for the workers to recover, given the api rate limiting that github uses.

It'd be great if there was some way for the job that adds items to the queue to be sensitive of this and somehow not keep adding to the queue when it's really full.

[2017-10-07 21:54] 1egoman opened #71 "Debug adding backstroke links to queue when they haven't changed"
Currently, a lot of Backstroke links are added to the queue even though they don't actually have an update that they need to have made to them. I need to debug this.

[2017-10-08 20:53] 1egoman commented on #71
Figured this out. https://github.com/backstrokeapp/server/releases/tag/v2.0.1

[2017-10-08 20:53] #71 closed

[2017-10-08 23:57] 1egoman commented on #70
Within a day of deployment, the queue seems o be much more manageable. I suspect this was just sue to all links syncing for the first time initially, and now I probably see less than 100 link operations per hour. At that scale, I'm not worried about extra link operations finding their way into the queue.

Going to close for now, but will reopen if this becomes an issue again.

[2017-10-08 23:57] #70 closed

[2017-10-13 20:22] francescobianco opened #73 "Missing webhook URI"
In new look and feel of Backstroke I did not find webhook URI to copy and paste in Upstream settings.
I suspect actually not work in automatic manner...
@francescobianco

[2017-10-13 21:19] 1egoman commented on #73
@francescobianco Backstroke works automatically to sync your forks. You don't need to copy and paste a webhook url. Every 10 minutes, a worker attempts to sync your link if a new commit has been made to the branch configured in the link settings.

I wrote up document on how all this works, [feel free to read through it](https://github.com/backstrokeapp/server/tree/master/src/jobs/webhook-dispatche

[2017-10-13 21:20] francescobianco commented on #73
Not in real-time or on-demand only every 10minutes!!! That's is too slow for continuous delivery or integrations

[2017-10-13 21:22] francescobianco commented on #73
I used this service to keep Travis connected to a system of continuous integration into various sub-projects treated as a parent project form

[2017-10-13 21:26] 1egoman commented on #73
@francescobianco It's economical given the number of links that are handled, and, for the typical use case this isn't that big of a deal.

The old webhooks still do work though. They currently are't shown on the dashboard (I wasn't able to get that finished prior to launching last weekend) though. If your use case does require an immediate update and you have permission to add a webhook to a repos

[2017-10-13 21:27] 1egoman commented on #73
If you need help in the meantime figuring out your webhook url, I can help with that. Once the feature is back on the dashboard though it shouldn't be an issue.

[2017-10-13 21:31] francescobianco commented on #73
No problem I'm happy about this project even in this mode. Good Job!!

[2017-10-13 21:37] 1egoman commented on #73
Thanks! Here's that issue to add the webhook link to the dashboard: https://github.com/backstrokeapp/dashboard/issues/10

[2017-10-13 21:37] #73 closed

[2017-10-20 23:55] 1egoman opened #74 "Syncing of repositories not in the "same network""
Github has this concept of a "network", which provides an abstraction to explain related repositories. For example, an upstream and a fork or the upstream are in the same network. An annoying limitation of the way that forks work is that a given user account can only have one repository of a given network contained within - this means that I can't have a fork and an upstream in the same user accou

[2017-10-21 17:24] evandrocoan opened #75 "About 70% of my backstroke link are missing on my backstroke dashboard"
I have all my 141 backstroke links saved on my computer and had them all on my dashboard before the upgrade, now the dashboard on shows about 27 of my repositories. They all were working just fine before the update.

So, where they got after the migration?

In addition:

1. https://github.com/backstrokeapp/server/issues/76 I cannot ping my backstroke URLs after the migration

[2017-10-21 17:39] evandrocoan opened #76 "I cannot ping my backstroke URLs after the migration"
![image](https://user-images.githubusercontent.com/5332158/31854322-c659acfa-b675-11e7-814d-f05c47c1f310.png)

In addition to:

1. https://github.com/backstrokeapp/server/issues/75 About 70% of my backstroke link are missing on my backstroke dashboard
1. https://github.com/backstrokeapp/dashboard/issues/10 Display the webhook link on the Backstroke dashboard

I have all my 141 backstroke links sav

[2017-10-21 19:46] 1egoman commented on #75
@evandrocoan 141 links? Wow, I didn't know one user had that many.

This is why: https://github.com/backstrokeapp/dashboard/issues/4. The dashboard currently only returns the first page of links that the server responds with, which is around 30 links if I remember correctly. It's been on my list for a while, but I'll move it closer to the top.

[2017-10-21 19:46] #75 closed

[2017-10-21 19:46] 1egoman commented on #76
Link webhooks still kick off a manual link syncing operation at `https://backstroke.us/_linkid`; you have in your screenshot `https://backstroke.co/_linkid`.

I discusses this and more in the RFC I put together prior to migrating - read it [here](https://github.com/backstrokeapp/server/issues/66#issue-254618293)

I replied to your other notes in the relevant tickets.

[2017-10-21 19:46] #76 closed

[2017-10-24 18:36] jdcrensh opened #77 "Syncing only releases or"
Backstroke is great for syncing commits from a branch. But in certain situations, it'd be ideal to create backstroke PRs only for upstream releases.

Taking `create-react-app` as an example, I don't really want to have Backstroke create a PR for every other commit on `master`, because the changes may not be ready for production. I'd want to have a PR created whenever a release is cut.

What would

[2017-10-24 21:54] 1egoman commented on #77
@jdcrensh Cool idea!

Once requirement is that Github requires pull requests to be made off of a branch, which would make pull requests off of tags a bit hard. I'm exploring https://github.com/backstrokeapp/server/issues/74, which could potentially make syncing to a tag possible.

A commit message regex would definitely be easier, though an inferior solution.

Is this a feature you'd like to work

[2017-10-24 23:04] jdcrensh commented on #77
I hadn't considered that limitation of PRs, thanks for pointing it out before I spent too much time on it. May have some time to explore it in a week or so, but I'll watch #74 cause it might be a prerequisite.

[2017-10-31 11:17] 1egoman commented on #77
@jdcrensh Here's a PR for that issue: https://github.com/backstrokeapp/worker/pull/2

[2017-11-01 21:05] evandrocoan opened #78 "No such link was found."
I am trying to create a link, but every time, the screen blinks and jumps to this page:

![image](https://user-images.githubusercontent.com/5332158/32297739-4e97ceb6-bf37-11e7-9a6b-c2096fdc9ee4.png)

![back2](https://user-images.githubusercontent.com/5332158/32297816-8d7e0be0-bf37-11e7-88b5-7f03565d7807.gif)

[2017-11-01 22:56] 1egoman commented on #78
I can't seem to reproduce this issue.

Could you attempt to create a link at http://homely-form.surge.sh/#/links? This is a slightly older version of the dashboard, this datapoint should help narrow down whet's going on:

1. Login at https://app.backstroke.co
2. After you've logged in, type http://homely-form.surge.sh/#/links into your address bar and press enter.
3. Try to create a link.

[2017-11-01 23:31] evandrocoan commented on #78
I just acessed this link it is worked correctly the create, but I am redirected to the older link:

![image](https://user-images.githubusercontent.com/5332158/32302784-a4c2d452-bf4b-11e7-8b54-947cd2af2d5e.png)

But looking at the link count, now I am at 797, but all these others new links I created while hitting between 791 and 797 are missing:

![image](https://user-images.githubusercontent.com/5

[2017-11-01 23:33] evandrocoan commented on #78
Update, after logging, I accessed the link and could also create it correctly:

![image](https://user-images.githubusercontent.com/5332158/32302887-4b013520-bf4c-11e7-80a3-d3dbf57b4c42.png)

[2017-11-01 23:40] evandrocoan commented on #78
I still have the old error tab opened, this is the page source code:
`
  | <!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><meta name="theme-color" content="#000000"><link rel="manifest" href="/manifest.json"><link rel="shortcut icon" href="/favicon.ico"><title>Backstroke</title><link href="/static/css/m

[2017-11-01 23:50] evandrocoan commented on #78
Right now it did again, with the count 800:

![image](https://user-images.githubusercontent.com/5332158/32303228-7b009da4-bf4e-11e7-9705-d9db5e059993.png)

Even accessing with that other link it did the same thing:

![image](https://user-images.githubusercontent.com/5332158/32303264-9a4eb182-bf4e-11e7-95d7-7c61df4279bc.png)

[2017-11-01 23:51] evandrocoan commented on #78
It seems to working fine right after I login, but a few time later, using the same login session, I then try to create new links, it do this error.

[2017-11-01 23:52] evandrocoan commented on #78
Yep, I just tried to log out and log in, and I could successfully create a new link.

[2017-11-01 23:56] evandrocoan commented on #78
This issue happens with both version at https://backstroke.co/ and http://homely-form.surge.sh/#/links

after some time logged in and created some links, I got the error:

![image](https://user-images.githubusercontent.com/5332158/32303392-7bbf94ec-bf4f-11e7-9f95-32b97af1b75d.png)

![image](https://user-images.githubusercontent.com/5332158/32303396-7ee5b0fc-bf4f-11e7-830c-52f4d787fbf5.png)

[2017-11-02 01:12] 1egoman commented on #78
Huh, ok. Can you show me the network pane in chrome dev tools when you try to create a link? I'm unsure what's going on and that might provide some guidance.

[2017-11-02 01:36] evandrocoan commented on #78
I will look into the console next time I found the error. Could take some time until there.

[2017-11-02 10:24] 1egoman commented on #78
I just added some more logging to hopefully pinpoint the source of the issue. Let me know the next time it happens and I'll take a look at the logs on mixpanel.

[2017-11-07 23:31] vikhik commented on #7
I have a related (?) issue when trying to update my (private) fork of EpicGames/UnrealEngine (which requires access, and it appears that Backstroke has it), which is vikhik/UnrealEngine:

[code]

[2017-11-07 23:58] 1egoman commented on #7
@vikhik Backstroke doesn't support private repositories. There are workarounds (such as adding the `backstroke-bot` user to a repository) but those aren't supported given that there are no tests for these scenarios and this adds a lot of security concerns that frankly I don't want to have to deal with.

Potentially, private repositories could land in the future, but first, the codebase and deploym

[2017-11-12 17:14] 1egoman commented on #74
I was able to integrate the changes to the worker into the [dashboard](https://github.com/backstrokeapp/dashboard/tree/unrelated-repo) and the [server](https://github.com/backstrokeapp/dashboard/tree/unrelated-repo), and try out the experience of syncing out of network forks from the dashboard all the way to the worker.

Here's a preview into some of the changes I'm thinking of making to the dashb

[2017-11-13 02:08] #66 closed

[2017-11-13 02:28] 1egoman opened #80 "Add a list of all link operations that have completed on the link detail page."
Currently, the link detail page only allows the user to tell Backstroke which repositories to sync changes between. There's the potential for so much more, though.

A relatively low-hanging fruit would be to display all the link operations that have happened for that link in the last 24 hours, their status, and any resulting artifacts (ie, pull requests). Given this information and some descriptiv

[2017-11-29 02:18] 1egoman commented on #80
Turns out this wasn't too hard. It's complete and deployed:
- Change required for worker: https://github.com/backstrokeapp/worker/pull/3
- Change required for server: https://github.com/backstrokeapp/server/pull/81

[2017-11-29 02:18] #80 closed

[2017-12-06 00:48] #74 closed

[2017-12-07 02:32] 1egoman opened #84 "Backstroke-bot has been flagged."
Unfortunately, Github flagged the `backstroke-bot` user today, most likely for creating pull requests. This means that, until Github unflags the user, any pull requests backstroke creates will be invisible (I did test though, and they are created, though they aren't visible on the pull requests page of a repository)

I sent Github support a message, and hopefully they'll be able to unflag the user

[2017-12-07 13:10] evandrocoan commented on #84
Perhaps it was annoying too much people when repository owners setup it to sync all its forks. Then the `backstroke` bot app received too much flags.

These flags are a real pain in the ass when they start coming. When I want to receive updates, I just create a link from my fork to the upstream, I do not expect to the updates coming from the upstream to my forks automatically without I asking it t

[2017-12-07 13:28] 1egoman commented on #84
Yep, I figured that might be the case. I ran into this issue way back when I started backstroke, and I added a link to the project's readme to a document detailing how to disable backstroke on a fork: https://github.com/backstrokeapp/server/blob/master/disable-on-a-fork.md

Maybe it's worth putting that link in the pull requests that Backstroke generates?

What you've layed out sounds like a good

[2017-12-08 03:28] TonyBenedetti commented on #84
I'm new to Backstroke and was very pleased by how well it worked.  Today when it apparently didn't generate any PRs from the upstream Fabrik/fabrik repo, I figured the server was down an would be back soon.  So I tried to pick up the latest commits "manually" through GitHub.  But GitHub presented me with this nastygram:
     "Pull request creation failed. Validation failed: A pull request already

[2017-12-08 11:50] 1egoman commented on #84
As I probably should have expected, it sounds like someone reported the backstroke-bot user as creating spam. As a response to this, Github wants me to make Backstroke opt-in before they'll reenable the backstroke-bot user.

I'm thinking the easiest way to do this might be to invert how opting out works right now: maybe have an `opt-in` tag you add to a repository if it's the fork of a project tha

[2017-12-08 14:40] TonyBenedetti commented on #84
In the mean time, does anyone have any advice about how I can clear out the "invisible" PRs that are (apparently?)  "clogging the pipes" and preventing me from getting commits from the upstream public repo?

[2017-12-08 16:11] evandrocoan commented on #84
1. You can clone your fork on your computer
1. Run `git add remote upstream https://github.com/user/repo`
1. Run `git fetch upstream`
1. Run `git merge upstream/master`

[2017-12-08 22:31] 1egoman commented on #84
@TonyBenedetti You also might be able to close those PRs via the github api - I was able to still retrieve details about some backstroke pull requests vis the api even though the backstroke-bot user was flagged.

I'm sorry for the inconvenience - working on a solution that will hopefully go live at some point over the weekend, and if not, this upcoming week. Once this is live Github support should

[2017-12-10 01:38] TonyBenedetti commented on #84
Thanks, @evandrocoan & @1egoman.  I had other issues (not connected to Backstroke in any way) with the way I had set up my repo and with my workflow.  I took the opportunity presented by this Backstroke hiatus to blow away and then rewicker my repo.  The "invisible" PRs naturally completely disappeared and the new pipes were thus totally clear.

Be assured that I will return to Backstroke as soon

[2017-12-11 22:36] 1egoman commented on #84
@TonyBenedetti `backstroke-bot` has been unflagged by github support, and is posting pull requests to users again. You should be all clear!

@evandrocoan Can you open an issue detailing the idea you had for implementing a better solution to this issue? It seems like a good idea but I want to discuss it / let others take a look at it if they so wish before working on it.

[2017-12-11 22:36] #84 closed

[2017-12-11 22:37] 1egoman commented on #78
Closing due to inactivity. If the issue comes up again, we can reopen.

[2017-12-11 22:37] #78 closed

[2017-12-11 22:39] 1egoman commented on #77
@jdcrensh That PR I previously mentioned has been merged. Don't know if this is still something you're interested in working on but if so the backend code for that feature is in a good place.

[2017-12-11 23:30] evandrocoan opened #85 "Replacement for upstream -> forks links creation"
Continuing: https://github.com/backstrokeapp/server/issues/84#issuecomment-349962514 Backstroke-bot has been flagged.

Instead of allowing the repositories owners to setup a backstroke link for their forks, we can remove this feature completely and change the way how links are created. The new link creation page should just requere the link or user_name/repository_name to the user fork, then it cr

[2017-12-12 00:09] 1egoman commented on #85
Huh, interesting. A couple questions though:

1. How does migration of existing upstream => many fork links work? Are they just removed, and if so, how are the owners of those links notified so that they can figure out alternative plans? In your original comment you had mentioned allowing forks to be "invited" to links, curious what if anything has changed your mind.

2. A feature that I've person

[2017-12-13 00:04] evandrocoan commented on #85
I thought that sending emails to to everyone in the fork can generate too much spam for big repositories like 100.000 forks or smaller like 100 or 1000. This is why I opt to not spend time creating code just to spam more people's email. Perhaps the emails spam filters could start tagging backstroke emails as spam, which would not be nice.

1. The current forks which are active by `upstream -> many

[2017-12-17 01:03] evandrocoan opened #86 "Error in syncing link."
Couldn't create pull request on repository evandrocoan/package_control:

<!DOCTYPE html>  <html> <head> <meta http-equiv="Content-type" content="text/html; charset=utf-8"> <title>Unicorn! &middot; GitHub</title> <style type="text/css" media="screen"> body { background-color: #f1f1f1; margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; } .container { margin: 50px auto 40px auto;

[2017-12-17 13:38] 1egoman commented on #86
@evandrocoan What you saw there was a 500 error on Github's end when Backstroke tried to create a pull request. I did try to sync the link again but also got another 500, which point to something going wrong on Github's end.

So, I tried to replicate it on my local computer (by running the same code that the server would run on my local machine) and I was only able to recreate the issue when I use

[2017-12-17 13:38] #86 closed

[2017-12-17 15:06] evandrocoan commented on #86
I think I know the problem.  When I created the backstroke link, the downstream name was `package_control`, I just remembered I renamed my fork's name from `package_control` to `PackagesManager`. Then when accessing the link https://github.com/evandrocoan/package_control you are redirected to https://github.com/evandrocoan/PackagesManager

Perhaps this redirection is causing the problem?

[2017-12-17 19:21] 1egoman commented on #86
It shouldn't - GitHub handles that automatically for both api requests and
html pages.

On Sun, Dec 17, 2017, 10:06 AM Evandro Coan <notifications@github.com>
wrote:

--

Ryan Gaus
Web Developer & Programmer
rgaus.net
315-464-0001 <(315)%20464-0001>
I work for Density <http://density.io/>

[2017-12-25 07:08] EricTendian opened #87 "Opt-out not working"
One of my company's fork repos is getting PRs as apparently the upstream repo signed up for Backstroke. I followed the [opt-out](https://github.com/backstrokeapp/server/blob/master/disable-on-a-fork.md) instructions and applied the label to [this PR](https://github.com/packbackbooks/tsugi-php/pull/4), then closed it. However, it just created a new PR so it seems like the opt-out label had no effec

[2017-12-25 13:25] 1egoman commented on #87
The reason why that didn't work is that (currently) the opt-in mechanism only works for links that sync to a number of forks (the theory being that a upstream maintainer can turn on backstroke and any user can easily opt into to Backstroke Pull requests if they'd like).

Additionally, and I really dropped the ball on updating the documentation to reflect this, we've made the backstroke bot opt in.

[2017-12-28 20:44] EricTendian commented on #87
Thank you for taking care of that! Good to hear the bot is now opt-in, perhaps some glitch occurred in my earlier researching of the backstroke bot to see how I could turn it off.

I haven't been getting any new PRs, so I think this issue has been resolved.

[2017-12-28 20:44] #87 closed

[2018-01-03 10:57] evandrocoan opened #88 "Automatically put label `backstroke` and assign to me the pull request"
This useful because I can easily find out all the pull request created by backstroke using the `Pull requests` button:

![image](https://user-images.githubusercontent.com/5332158/34517911-135c9012-f064-11e7-851f-53cfed210916.png)

Putting the label is to help identify the backstroke pull request in the middle of all the other (if any).

[2018-01-03 11:31] 1egoman commented on #88
Good idea. I'll add it to my list of things.

[2018-01-05 11:56] evandrocoan opened #89 "Several (if not all) of my repositories are not receiving the Pull Requests anymore"
For example: https://github.com/evandrocoan/UnitTesting is 10 commits behind the upstream, and there are not pull requests from Backstroke. Even backstroke is properly configured:

![image](https://user-images.githubusercontent.com/5332158/34608116-0357a7ec-f1fe-11e7-8308-3b65e831c448.png)

Recently the upstream has renamed from `randy3k/UnitTesting` to `SublimeText/UnitTesting`. Does it make a di

[2018-01-05 12:25] 1egoman commented on #89
Try updating that. The pull request that backstroke is making returns this error code (`head` is the repository/branch that the pull request should pull changes from):
[code]

[2018-01-05 12:33] evandrocoan commented on #89
Thanks, it worked!

Backstroke should have send me a email announcing this, otherwise there is not point into using backstorke if it will fails when the upstream repository is renamed/transferred to another user.

[2018-01-05 12:39] 1egoman commented on #89
Good idea, but that's a pretty large feature. Backstroke has no infrastructure for that right now (and frankly, I don't have time to work on something like that). Always looking for contributions though.

It should definitely fail the link operation though if the `head` isn't valid in the pull request. Not sure why it doesn't do that currently.

[2018-01-05 12:39] #89 closed

[2018-01-05 14:42] evandrocoan commented on #89
Can you at least make this message say the word `Error` when it fails?

![image](https://user-images.githubusercontent.com/5332158/34613691-c9b54518-f215-11e7-9e8a-22aea8222a0c.png)

When when I run all the link I know which repositories are broken.

[2018-01-05 14:47] evandrocoan commented on #89
Because I have this script:

https://github.com/evandrocoan/ChannelManager/blob/1c00cacce9a1d6f7b61b44afe272add5373d7936/all/channel_manager/submodules_manager.py#L439-L461

[code]

Which iterate throw all my backstroke links on the form `https://api.backstroke.co/_59cdc241408205001...`, then I can monthly run this and catch which repositories have some kind of error.

[2018-01-05 17:14] evandrocoan opened #90 "Open an issue on my repository if cannot create a pull request from the upstream"
Then can you easily make the bot open a issue on my repository instead of an email? Would be even more effective then emails which can easily be marked as spam.

[2018-01-05 22:02] 1egoman commented on #90
I could see people viewing these issues as spam though as well, and I'd like to minimize the amount of issues created on the Backstroke repo to the accord of `Backstroke is creating issues on my repository - I'm going to flag backstroke for spam!`.

If anything, it might be opt in, but this seems like another one of those features where I don't see myself working on it anytime soon.

[2018-01-06 05:41] evandrocoan commented on #90
It is the opposite, I am going to see backstroke as something which stops working and just keep it quite. How I am supposed to stay up with the upstream if backstroke fails silently?

Anyways, it should create only one issue, and update its first post when something changes.

Opening a issue is very convenient because if I am not updated with the upstream anymore, is am issue.

Anyways, opening an

[2018-01-06 13:21] 1egoman commented on #90
Sounds good.

I'd say maybe add another card for it? I don't know if it really belongs with the rest of the link settings.

[2018-01-13 13:05] just-boris opened #91 "Backstroke creates a huge pull-request"
Hello!

I am using Backstroke to synchronize my fork of [create-react-app](https://github.com/facebookincubator/create-react-app).

Recently something went wrong and it creates me pull-requests with commits that have been already merged. Examples:

https://github.com/just-boris/create-preact-app/pull/31
https://github.com/just-boris/create-preact-app/pull/30
https://github.com/just-boris/create-pr

[2018-01-13 14:27] 1egoman commented on #91
I think you were looking at the `preact` branch, this is the diff between the your repositories `master` branch (what that pull request has as it's head) and the create-react -app upstream (`facebookincubator/create-react-app@master`):
https://github.com/just-boris/create-preact-app/compare/master...facebookincubator:master

That diff does accurately reflect the commits in the pull request.

As fo

[2018-01-13 14:58] just-boris commented on #91
Hmm, I have set up backstroke to push changes into `preact` branch of my fork but it creates PRs to `master`

Can this be a root cause of my issue?

[2018-01-13 15:49] 1egoman commented on #91
Hmm, maybe. Let me take a look at the code and see if I can find anything. I take back what I said earlier - if the pull request is being made on the wrong branch, this seems like a Backstroke problem.

[2018-01-13 16:05] 1egoman commented on #91
Yep, turns out it was a Backstroke thing. [Here's the tiny change](https://github.com/backstrokeapp/worker/pull/10) if you're curious, but let me know if that fixed your issue.

[2018-01-14 12:25] just-boris commented on #91
Have got a new PR from Backstroke today: https://github.com/just-boris/create-preact-app/pull/32

Works as expected, thank you!

[2018-01-14 12:25] #91 closed

[2018-01-22 19:58] evandrocoan opened #92 "Allow to set weekly or monthly pull requests minimum time"
Some repositories like:

1. https://github.com/python/cpython
1. https://github.com/SublimeLinter/SublimeLinter

Are highly active and hourly or daily have new commits being integrated. Then I am constantly notified by pull requests creations or new commits pushes.

Would be useful if I can set a minimum of a week or a month between the pull requests creations for these repositories.

[2018-01-22 23:27] 1egoman commented on #92
Sounds like a good idea. Not something I'm going to get to right away but a good feature for me or someone else to work on down the line.

[2018-03-04 23:10] evandrocoan opened #93 "Failing to create pull requests if I transferred my fork"
I recently transferred most of my forks into a organization called `evandroforks`. But now backstroke is not following the GitHub redirection and is not creating pull requests automatically.

Related:

1. https://github.com/backstrokeapp/server/issues/89 Several (if not all) of my repositories are not receiving the Pull Requests anymore

The difference from the above case, is that the upstream had

[2018-03-04 23:16] 1egoman commented on #93
If you recreate the link pointing to the new repository (ie, with the new organization instead of your user account), does that change anything?

[2018-03-05 00:07] evandrocoan commented on #93
I just need to update the like name from the old name `evandrocoan` to the new name `evandroforks` and it should start working correctly as https://github.com/backstrokeapp/server/issues/89 did after correcting the upstream name from `rand3k` to `SublimeText`.

I did not did it already in case you want to fix it the GitHub redirections not working with backstroke.

[2018-03-05 02:17] 1egoman commented on #93
I'll keep it in mind, though it's going to require some investigation, maybe when I have some time off work I'll take a look.

[2018-03-22 14:23] jacksonisiah opened #95 "README.md badges showing invalid"
probably linking to wrong repository imo.

[2018-03-22 21:17] 1egoman commented on #95
Closed by #96

[2018-03-22 21:17] #95 closed

[2018-04-03 10:49] shikhir-arora opened #97 "Issue with Sync (Recived an error: undefined)"
I apologize if I'm missing something, but I am having the following issue with any repo (on clicking 'Resync'):

`Recived an error: undefined`

![a658130e-71bc-4527-907f-f66ae1b54f26](https://user-images.githubusercontent.com/8797918/38245142-fc54c888-370a-11e8-8a91-69f9e2402e7d.png)
![e099a8ba-b338-4b1d-85b5-1be62b27360b](https://user-images.githubusercontent.com/8797918/38245143-fc62a1f6-370a-11

[2018-04-03 11:35] 1egoman commented on #97
I think I see what's going on, the redis instance that Backstroke uses seems to have run out of memory. Let me see if I can remove some old keys manually for now and later I can upgrade it to be larger.

[2018-04-03 11:53] 1egoman commented on #97
Yep, that's exactly what happened. I'll reset it when I get back from work today.

[2018-04-03 11:55] shikhir-arora commented on #97
Ah, well, really appreciate that. That's a good problem to have, growth is good 😆  Just put in a $2/week donation on Liberapay to help reach your goal. :-)

Thanks for the fast response and simple/useful service, and the commitment to open source. Can close this whenever you reset things.

[2018-04-04 00:43] 1egoman commented on #97
Wow, thanks! The service should be working again - or, at least, I am able to sync a link of my own. If you run into any other issues, feel free to open another ticket.

[2018-04-04 00:43] #97 closed

[2018-04-04 00:54] shikhir-arora commented on #97
Everything works fine (just had to re-auth with GitHub) -- thanks again! 👍

[2018-04-16 09:13] shikhir-arora opened #98 "Not appearing to sync automatically"
Backstroke is working well - but I've noticed that all my repos - although the app says "Synced X minutes ago" (<10) -- doesn't actually seem to update. I have to manually push the resync button or manually queue the webhook from the URL.

[2018-04-16 11:39] 1egoman commented on #98
I did a bit of investigation.

It looks like there was a typo in one of the api calls [here}(https://github.com/backstrokeapp/jobs/commit/8ade478f014767fe59ac996eb6b486b86f7a1494) that meant that the periodic checks that occur behind the scenes for each repository would actualy occur on the defualt branch for arepository, not the branch that was indicated in the link configuration. (I guess no one

[2018-04-16 11:39] #98 closed

[2018-04-16 13:17] shikhir-arora commented on #98
Thanks for the explaination! Makes complete sense - appreciate the fast fix.

[2018-05-19 09:52] shikhir-arora opened #99 "Not syncing automatically"
Hi there!

Backstroke has been working well for me, but over the last week or so I've noticed it has stopped syncing automatically and I have to either resync or run the manual webhook link for it to update.

It seemed to be fine after #98 - and was for a while, but suddenly stopped working over the past week or so.

[2018-05-21 19:44] 1egoman commented on #99
I see what's going on - looks like the server that Backstroke is running on has run out of ram (and the job that does the automatic syncing is being OOMed). Unfortunately, I'm still away and don't have a solid internet connection (which I need in order to scale up the server instance to alleviate this problem). I should have a solid connection hopefully later tonight but if not then later this wee

[2018-05-28 18:32] 1egoman commented on #99
I finally have a stable internet connection again and was able to perform a ram upgrade on the digitalocean droplet powering Backstroke. Again, very sorry about this but hopefully the service should be running again.

[2018-05-28 18:32] #99 closed

[2018-05-29 22:28] shikhir-arora commented on #99
Thanks!

[2018-09-05 15:58] cdhowie commented on #2
@1egoman Please do not take this personally, but there is absolutely no excuse for causing email noise to people who never asked for it.

I understand your reasoning, but you must also understand that I just sunk time into trying to figure out how to disable something that _I never enabled or opted in to_, which is sending me email and distracting me.  And that's after I have to figure out what is

[2018-09-09 10:50] prichodko opened #100 "Website down"
Hi 👋

opening this issue to let you know that https://backstroke.co us currently down.

Thank you for you work!

[2018-09-09 11:47] 1egoman commented on #100
Oops, I let toe domain expire. Just renewed it, but it may take a bit to propagate through dns. I'll check in later today to ensure that everything is working again.

[2018-09-09 12:28] #100 closed

[2018-12-21 15:59] evandrocoan opened #102 "Stopped working a few days ago with Recived an error: undefined"
It stopped creating pull requests automatically, then, I tried to sync manually:
![image](https://user-images.githubusercontent.com/5332158/50351074-335bdd80-0528-11e9-9936-a450bd3f5fd6.png)

Every repository I try to sync does this `Recived an error: undefined`

If I try to access the direct URL under `Webhook link`:
![image](https://user-images.githubusercontent.com/5332158/50351189-8c2b7600-052

[2018-12-21 17:35] alanfx commented on #102
Also seeing this issue

[2019-01-03 23:08] 1egoman commented on #102
I don't have the bandwidth to maintain Backstroke anymore.

It's a project that has done fairly well, and many people use it and find it helpful. But, it's a project that does too much for a single person to maintain, and it's got a number of moving parts that all have a tendency to break at the worst time. For a while, I found it fun to maintain, but over the past year it's turned into a chore, a

[2019-01-03 23:08] #102 closed

[2019-01-04 11:23] Mabbs opened #103 "Could you use some free service to keep the project running?"
Such as Travis-CI

[2019-01-04 12:05] 1egoman commented on #103
The issue isn't money, the issue is time. I don't have the time to invest in supporting this service (ie, responding to issues, adding features, troubleshooting problems, etc). In addition, Backstroke isn't built in a way that it could be run in a continuous integration service such as Travis CI.

[2019-01-04 12:05] #103 closed

[2019-01-04 12:17] Freekers opened #104 "Backstroke alternative: Pull"
Sorry to see this being shutdown. I think 'Pull' might qualify as a decent alternative if I'm not mistaken: https://github.com/wei/pull

[2019-01-04 12:19] 1egoman commented on #104
Yea, that looks like a good option, I'll update the README! Thanks for the recommendation.

[2019-01-04 12:19] #104 closed

[2019-01-04 12:53] alanfx commented on #102
Hey @1egoman, I really appreciate your work on Backstroke, and I understand the demands of developing a project "on the side". I'm wondering if you could publicly document the steps for setting up a development environment and deployment of the new code base, so that potential users or maintainers could setup Backstroke servers for their use and then also continue developing the code. I'd much pre

[2019-01-04 12:57] Deadlyelder commented on #102
@1egoman Indeed, as @alanfx suggested, it would be great if you could document the development and deployment configurations it would be great. I too would be interested in this.

[2019-01-04 18:13] 1egoman commented on #102
@alanfx @Deadlyelder Yes, I can do that. Some documentation already exists here, but it could probably be improved: https://github.com/backstrokeapp/docs

[2019-01-04 21:27] alanfx commented on #102
@1egoman Thanks a lot for agreeing to do this, Ryan. I have looked at those docs, but it wasn't very clear to me how to get it all up and running, so a more step-by-step document would help a lot.

[2019-01-04 22:23] 1egoman commented on #102
@alanfx Ah, I sent you the wrong repository, sorry (been a while since I touched this stuff!) - what I really meant was https://github.com/backstrokeapp/deployment. That should be pretty close to a step by step document for setting up Backstroke in development. It doesn't give an exact configuration on how to deploy Backstroke into a more "production" environment, but it does explain how one would

[2019-01-08 22:21] evandrocoan commented on #102
I think this is an alternative/similar solution:
1. https://github.com/wei/pull a GitHub App built with probot that keeps your repository up-to-date with upstream changes via automated PRs.

[2019-01-08 22:25] 1egoman commented on #102
@evandrocoan Yes, this has been mentioned in the README.

[2019-01-09 00:58] evandrocoan commented on #102
Sorry, you updated the README.md one day after I read it.

Why closing this issue? Just because you are not fixing it, does not mean is should be closed. Otherwise, you still missing to close all the other 7 issues which still opened. May be consider archiving this repository? https://help.github.com/articles/archiving-a-github-repository/

I just looked over the other bot, and I would call it a v

[2019-01-10 10:34] onap-sdc opened #105 "Forks do not get updates from bot. Manual shows error response"
Hi,
Been using this for quite a while, with pleasure :). Recently noticed that the forks marked with label are not being updated. Tried to run the sync on demand link from the backstroke website manually and got the following error:

{"error":"EXECABORT Transaction discarded because of previous errors.","stack":"ReplyError: EXECABORT Transaction discarded because of previous errors.\n    at parseE

[2019-01-10 13:47] 1egoman commented on #105
@onap-sdc Please see https://github.com/backstrokeapp/server#i-dont-have-the-bandwidth-to-maintain-backstroke-anymore, this project is in the process of being shut down

[2019-01-10 13:47] #105 closed, assigned to nobody

[2019-02-07 15:13] bongani-m opened #106 "Taking over as maintainer"
@1egoman I was wondering if I could take it over as maintainer.

[2019-02-08 11:19] 1egoman commented on #106
@bongani-m I'm going to respond to your email!

[2019-02-08 14:16] #106 closed, assigned to nobody